<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fonts.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
    <title>{{ title }}</title>
</head>
<body>
    <div class="page page-{{ pageTemplate }}">
        {% block body %}{% endblock %}
    </div>
</body>
</html>