{% extends '_layout.html' %}

{% set pageTemplate = 'catalog' %}

{% block body %}
    {% include 'include/header.html' %}
    <div class="filter">
        <div class="filter-breadcrumb lazyslow-left">
            <nav aria-label="Breadcrumb" class="breadcrumb">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Category</a></li>
                    <li><a href="#">Sub Category</a></li>
                    <li><a href="#">Type</a></li>
                    <li><span aria-current="page">Product</span></li>
                </ul>
            </nav>
        </div>
        <div class="filter-options">
            <div class="checkbox lazyslow-left">
                <label class="checkbox-filter" for="promotion">
                    <a class="checkbox-promotion">
                        <p>Promos</p>
                        <input type="checkbox" id="promotion" value="promotion">
                    </a>
                </label>
                <label class="checkbox-filter" for="cold">
                    <a class="checkbox-cold">
                        <p>Frais</p>
                        <input type="checkbox" id="cold" value="cold">
                    </a>
                </label>
                <label class="checkbox-filter" for="frozen">
                    <a class="checkbox-frozen">
                        <p>Surgelé</p>
                        <input type="checkbox" id="frozen" value="frozen">
                    </a>
                </label>
                <label class="checkbox-filter" for="bio">
                    <a class="checkbox-bio">
                        <p>Bio</p>
                        <input type="checkbox" id="bio" value="bio">
                    </a>
                </label>
            </div>
            <label class="sort lazyslow-right">
                <select class="sort-selection">
                    <option value="">Tri par défaut</option>
                    <option value="">Prix croissant</option>
                    <option value="">Prix décroissant</option>
                </select>
            </label>
        </div>
    </div>
    <div class="catalog lazyslow-down">
        {% for article in articles %}
            <div class="article">
                {% if article.promotion_start is defined %}
                    <span class="article-promotion K2D-paragraph">{{ article.promotion_start }} - {{ article.promotion_end }}</span>
                {% endif %}
                <img class="article-img" src="{{ article.image }}" alt="">
                <div class="article-badges">
                    {% if article.filters is defined %}
                        {% for filter in article.filters %}
                            <span class="badge-{{ filter.class }} K2D-paragraph" data-category="{{ filter.class }}">{{ filter.name }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="article-title">
                    <h3>{{ article.brand }}</h3>
                    <p class="K2D-paragraph">{{ article.product }}</p>
                </div>
                <div class="article-description">
                    <p>{{ article.description }}</p>
                </div>
                <div class="article-footer">
                    <div class="tags">
                        {% if article.tags is defined %}
                            {% for tag in articles.tags %}
                                <button>{{ tag }}</button>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="price">
                        {% if article.promotion_percentage is defined %}
                            <h5>{{ article.price }}€</h5>
                            <h2 class="promoted-price">{{ article.promoted_price }}€</h2>
                        {% else %}
                            <h2>{{ article.price }}€</h2>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="pagination">

        </div>
    </div>
    {% include 'include/footer.html' %}
{% endblock %}