{% extends '_layout.html' %}

{% set pageTemplate = 'catalog' %}

{% block body %}
    {% include 'include/header.html' %}
    <div class="filter">
        <div class="filter-breadcrumb">
            <nav aria-label="Breadcrumb" class="breadcrumb">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Category</a></li>
                    <li><a href="#">Sub Category</a></li>
                    <li><a href="#">Type</a></li>
                    <li><span aria-current="page">Product</span></li>
                </ul>
            </nav>
        </div>
        <div class="filter-options">
            <label class="checkbox">
                <button class="checkbox-promotion">
                    <p>Promos</p>
                    <input type="checkbox">
                </button>
                <button class="checkbox-cold">
                    <p>Frais</p>
                    <input type="checkbox">
                </button>
                <button class="checkbox-frozen">
                    <p>Surgelé</p>
                    <input type="checkbox">
                </button>
                <button class="checkbox-bio">
                    <p>Bio</p>
                    <input type="checkbox">
                </button>
            </label>
            <label class="sort">
                <select class="sort-selection">
                    <option value="">Tri par défaut</option>
                    <option value="">Prix croissant</option>
                    <option value="">Prix décroissant</option>
                </select>
            </label>
        </div>
    </div>
    <div class="catalog">
        <div class="article">
            <img class="article-img" src="{{ url_for('static', filename='img/pages/catalog/articles/gnocchis.png') }}">
            <div class="article-title">
                <h3>LUSTUCRU</h3>
                <p class="K2D-paragraph">Gnocchi à poêler</p>
            </div>
            <div class="article-description">
                <p>Le gnocchi est une famille de pâtes préparées soit avec un mélange de farine de blé dur ou de blé tendre et de pomme de terre</p>
            </div>
            <div class="article-tags">

            </div>
            <div class="article-price">
                <h2>4,59€</h2>
            </div>
        </div>
        <div class="article">
            <img class="article-img" src="{{ url_for('static', filename='img/pages/catalog/articles/gnocchis.png') }}">
            <div class="article-title">
                <h3>LUSTUCRU</h3>
                <p class="K2D-paragraph">Gnocchi à poêler</p>
            </div>
            <div class="article-description">
                <p>Le gnocchi est une famille de pâtes préparées soit avec un mélange de farine de blé dur ou de blé tendre et de pomme de terre</p>
            </div>
            <div class="article-tags">

            </div>
            <div class="article-price">
                <h2>4,59€</h2>
            </div>
        </div>
        <div class="article">
            <img class="article-img" src="{{ url_for('static', filename='img/pages/catalog/articles/gnocchis.png') }}">
            <div class="article-title">
                <h3>LUSTUCRU</h3>
                <p class="K2D-paragraph">Gnocchi à poêler</p>
            </div>
            <div class="article-description">
                <p>Le gnocchi est une famille de pâtes préparées soit avec un mélange de farine de blé dur ou de blé tendre et de pomme de terre</p>
            </div>
            <div class="article-tags">

            </div>
            <div class="article-price">
                <h2>4,59€</h2>
            </div>
        </div>
        <div class="article">
            <img class="article-img" src="{{ url_for('static', filename='img/pages/catalog/articles/gnocchis.png') }}">
            <div class="article-title">
                <h3>LUSTUCRU</h3>
                <p class="K2D-paragraph">Gnocchi à poêler</p>
            </div>
            <div class="article-description">
                <p>Le gnocchi est une famille de pâtes préparées soit avec un mélange de farine de blé dur ou de blé tendre et de pomme de terre</p>
            </div>
            <div class="article-footer">
                <div class="footer-tags">
                    <button>1 sachet</button>
                    <button>200g</button>
                </div>
                <div class="footer-price">
                    <h2>4,59€</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}