{% extends '_layout.html' %}

{% set pageTemplate = 'catalog' %}

{% block body %}
    <div class="filter">
        <div class="filter-breadcrumb lazyslow-left">
            <nav aria-label="Breadcrumb" class="breadcrumb">
                <ul>
                    <li><a>Home</a></li>
                    <li><a>Category</a></li>
                    <li><a>Sub Category</a></li>
                    <li><a>Type</a></li>
                    <li><span aria-current="page">Product</span></li>
                </ul>
            </nav>
        </div>
        <div class="filter-options">
            <div class="checkbox lazyslow-left">
                <label class="checkbox-filter" for="promotion">
                    <a class="checkbox-promotion">
                        <p>Promos</p>
                        <input type="checkbox" class="reset" id="promotion" value="promotion">
                    </a>
                </label>
                <label class="checkbox-filter" for="cold">
                    <a class="checkbox-cold">
                        <p>Frais</p>
                        <input type="checkbox" class="reset" id="cold" value="cold">
                    </a>
                </label>
                <label class="checkbox-filter" for="frozen">
                    <a class="checkbox-frozen">
                        <p>Surgelé</p>
                        <input type="checkbox" class="reset" id="frozen" value="frozen">
                    </a>
                </label>
                <label class="checkbox-filter" for="bio">
                    <a class="checkbox-bio">
                        <p>Bio</p>
                        <input type="checkbox" class="reset" id="bio" value="bio">
                    </a>
                </label>
            </div>
            <label for="sort-selection" class="sort lazyslow-right">
                <select id="sort-selection" class="sort-selection">
                    <option value="default">Tri par défaut</option>
                    <option value="ascending-price">Prix croissant</option>
                    <option value="descending-price">Prix décroissant</option>
                </select>
            </label>
        </div>
    </div>
    <div class="catalog lazyslow-down">
        {% for article in articles %}
            <div id="article" class="article" data-category="{% for filter in article.filters %}{{ filter.class }} {% endfor %}">
                {% if article.promotion_start is not none %}
                    <span class="article-promotion K2D-paragraph">{{ article.promotion_start }} - {{ article.promotion_end }}</span>
                {% endif %}
                <img class="article-img" src="{{ article.image }}" alt="">
                <div class="article-badges">
                    {% if article.filters is not none %}
                        {% for filter in article.filters %}
                            <span class="badge-{{ filter.class }} K2D-paragraph">{{ filter.name }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="article-title">
                    <h3>{{ article.brand }}</h3>
                    <p class="K2D-paragraph">{{ article.product }}</p>
                </div>
                <div class="article-description">
                    <p>{{ article.description }}</p>
                </div>
                <div class="article-footer">
                    <div class="tags">
                        {% if article.tags is not none %}
                            {% for tag in article.tags %}
                                <button>{{ tag }}</button>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="price">
                        {% if article.promotion_percentage is not none %}
                            <h5>{{ article.price }}€</h5>
                            <h2 id="price" class="promoted-price">{{ article.promoted_price }}€</h2>
                        {% else %}
                            <h2 id="price">{{ article.price }}€</h2>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="pagination">

        </div>
    </div>
{% endblock %}