{% extends '_layout.html' %}

{% set pageTemplate = 'home' %}

{% block body %}
    <body>
        <div class="home-header">
            <img class="header-img lazyload" src="{{ url_for('static', filename='img/pages/home/header.jpg') }}">
            <div class="header-presentation lazyslow-right">
                <h1 class="presentation-title">Profitez des meilleures promos</h1>
                <p class="presentation-text">Venez découvrir une liste des promotions du moment ainsi que notre catalogue complet.<br><br>Plus de 800 articles dont 100 promos, notre équipe travaille constamment à la recherche des meilleurs offres possible pour vous !<br><br>Allant de petites offres quotidients en récompenses de fidelité, nous définissons nos promotions avec vous en tête. Notre objectif est de rendre votre expérience de courses inoubliables.</p>
                <a href="{{ url_for('catalog.catalog') }}" class="presentation-btn">Toutes les promos</a>
            </div>
        </div>
    </body>
{% endblock %}