.page-catalog{
  min-height: 88vh;

  .filter{
    padding: 2rem 3rem 2rem 3rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;

    @include responsive-xs{
      padding: 2rem 1.5rem;
    }

    &-breadcrumb{
      font-size: 20px;

      a{
        text-decoration: underline;
        cursor: pointer;
      }

      .breadcrumb-display{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
      }

      .breadcrumb a:not(:last-child)::after {
        display: inline-block;
        margin: 0 1rem;
        content: ">";
      }
    }

    &-options{
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;

      @include responsive-xs{
        flex-flow: column nowrap;
        gap: 2rem;
      }

      .checkbox{
        display: flex;
        box-shadow: 0 4px 4px rgba(0,0,0,25%);
        border-radius: 5px;

        &-filter{

          @include responsive-xs{
            width: 25%;
          }
        }

        a{
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: space-between;
          gap: 1.5rem;
          font-size: 16px;
          padding: 0 1rem 0 1.5rem;

          @include responsive-xs{
            padding: 0 0.5rem 0 0.5rem;
            font-size: 12px;
            gap: 0.5rem;
          }
        }

        &-promotion{
          border-radius: 5px 0 0 5px;
          background-color: $color-red;
          color: white;
          border: none;
          border-right: 3px solid black;
        }

        &-bio{
          border: none;
          border-radius: 0 5px 5px 0;
          background-color: $color-grey;
        }

        &-frozen,
        &-cold{
          border: none;
          border-right: 3px solid $background-color;
          background-color: $color-grey;
        }
      }

      .sort{
        display: flex;
        box-shadow: 0 4px 4px rgba(0,0,0,25%);

        &-selection{
          border: none;
          border-right: 1rem solid transparent;
          border-radius: 5px;
          font-size: 16px;
          padding: 0 1rem 0 1.5rem;
          background-color: $color-grey;
          font-family: $font-josefin;

          @include responsive-xs{
            width: 100%;
            padding: 0.5rem;
          }
        }
      }
    }
  }

  .catalog{
    padding: 2rem 3rem 2rem 3rem;
    display: flex;
    flex-flow: row wrap;
    row-gap: 3rem;
    column-gap: 2.4rem;

    @include responsive-xs{
      padding: 2rem 1.5rem;
      flex-flow: column;
      gap: 2rem;
    }

    .article{
      position: relative;
      display: flex;
      flex-flow: column nowrap;
      padding: 2rem 1rem 0.5rem 1rem;
      width: 23%;
      background-color: $color-grey;
      border-radius: 5px;
      box-shadow: 0 4px 4px rgba(0,0,0,25%);
      min-height: 25rem;

      @include responsive-xs{
        width: 100%;
      }

      &-img{
        width: auto;
        margin: 0 auto 0 auto;
        max-height: 8rem;
      }

      &-badges{
        position: absolute;
        right: 1rem;
        display: flex;
        flex-flow: column nowrap;
        gap: 0.5rem;

        span{
          width: 2rem;
          height: 2rem;
          line-height: 2rem;
          border-radius: 50%;
          font-weight: bold;
          color: white;
          text-align: center;
          font-size: 10px;
        }

        .badge-promotion{
          background-color: $color-red;
        }

        .badge-cold,
        .badge-frozen{
          background-color: $color-blue;
        }

        .badge-bio{
          background-color: $color-green-opacity;
        }
      }

      &-promotion{
        position: absolute;
        top: 0;
        background-color: $color-red;
        padding: 0.3rem 0 0.3rem 0;
        color: white;
        width: 30%;
        text-align: center;
        border-radius: 0 0 5px 5px;
        font-size: 12px;
        font-weight: bold;
      }

      &-title{
        display: flex;
        flex-flow: row nowrap;
        align-items: baseline;
        gap: 0.5rem;
        height: 2.2rem;
      }

      &-description{
        font-weight: 200;
      }

      &-footer{
        height: 4rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        .tags{
          position: absolute;
          left: 1rem;
          bottom: 2rem;
          display: flex;
          flex-flow: row nowrap;
          gap: 0.5rem;

          button{
            background-color: $background-color;
            padding: 0.5rem 0.2rem;
            border-radius: 5px;
            font-family: $font-josefin;
          }
        }

        .price{
          position: absolute;
          right: 1rem;
          bottom: 0.5rem;

          h5{
            text-align: end;
            position: absolute;
            right: 0;
            bottom: 2rem;
            text-decoration: line-through;
            text-decoration-color: $color-red;
          }

          .promoted-price{
            color: $color-red;
          }
        }
      }
    }
  }

}