<div class="footer">
    <div class="footer-rgpd">
        <a>Conditions d'utilisations</a>
        <a>Cookies & Données</a>
        <a>Politique de confidentialité</a>
    </div>
    <div class="footer-rgpd">
        <a>Accessibilité</a>
        <a>Nos agriculteurs</a>
    </div>
    <div class="footer-call">
        <a href="tel:800500220">
            <img class="footer-img" src="{{ url_for('static', filename='img/footer/Phone.png') }}">
            800 500 220
        </a>
        <p class="rights">Mercadona S.A. A46103834. Tous droits reservés</p>
    </div>
    <div class="footer-social">
        <a><img class="footer-img" src="{{ url_for('static', filename='img/footer/Facebook.png') }}"></a>
        <a><img class="footer-img" src="{{ url_for('static', filename='img/footer/Instagram.png') }}"></a>
        <a><img class="footer-img" src="{{ url_for('static', filename='img/footer/Linkedin.png') }}"></a>
        <a><img class="footer-img" src="{{ url_for('static', filename='img/footer/Mail.png') }}"></a>
    </div>
</div>