<div class="footer">
    <div class="footer-rgpd">
        <a>Conditions d'utilisations</a>
        <a>Cookies & Données</a>
        <a>Politique de confidentialité</a>
    </div>
    <div class="footer-rgpd" id="rgpd-2">
        <a>Accessibilité</a>
        <a>Nos agriculteurs</a>
    </div>
    <div class="footer-call">
        <a href="tel:800500220">
            <img class="footer-img" src="{{ url_for('static', filename='img/footer/Phone.png') }}">
            800 500 220
        </a>
        <p class="rights">Mercadona S.A. A46103834. Tous droits reservés</p>
    </div>
    <div class="footer-social">
        <a href="https://www.facebook.com/mercadona" target="_blank"><img class="footer-img" src="{{ url_for('static', filename='img/footer/Facebook.png') }}" alt=""></a>
        <a href="https://www.instagram.com/mercadona/" target="_blank"><img class="footer-img" src="{{ url_for('static', filename='img/footer/Instagram.png') }}" alt=""></a>
        <a href="https://es.linkedin.com/company/mercadona" target="_blank"><img class="footer-img" src="{{ url_for('static', filename='img/footer/Linkedin.png') }}" alt=""></a>
        <a href="mailto:jmercadona290@gmail.com" target="_blank"><img class="footer-img" src="{{ url_for('static', filename='img/footer/Mail.png') }}" alt=""></a>
    </div>
</div>