<nav class="header navbar navbar-expand-lg navbar-light">
    <div class="header-menu">
        <a href="{{ url_for('catalog.catalog') }}">Catalogue</a>
        <a href="#">Rayons</a>
    </div>
    <div class="header-logo">
        <a class="navbar-brand" href="{{ url_for('home.home') }}">
            <img src="{{ url_for('static', filename='img/header/logo.png') }}" alt="">
        </a>
    </div>
    <div class="header-search">
        <label>
            <input type="text">
            <img src="{{ url_for('static', filename='img/header/search.png') }}" alt="">
        </label>
    </div>
</nav>