<nav class="header navbar navbar-expand-lg navbar-light">
    <button class="header-toggler js-menu-toggler">
        <div class="header-toggler-inner" id="toggler">
            <div class="header-toggler-icon header-toggler-icon--top"></div>
            <div class="header-toggler-icon header-toggler-icon--middle"></div>
            <div class="header-toggler-icon header-toggler-icon--bottom"></div>
        </div>
    </button>
    <div class="header-menu">
        <a href="{{ url_for('catalog.catalog') }}">Catalogue</a>
        <span class="dropdown-menu--button">Rayons</span>
    </div>
    <div class="dropdown-menu hidden">
        <a class="dropdown-menu--mobile" href="{{ url_for('catalog.catalog') }}">Catalogue</a>
        <ol class="categories">
            {% for category in categories %}
                <li class="category"><a class="category-h2">{{ category.name }}</a>
                    <ul class="subcategory">
                        {% for subcategory in category.subcategories %}
                            <li><a>{{ subcategory }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ol>
        <span class="exit-dropdown">
            <img class="exit-img" src="{{ url_for('static', filename='img/header/exit.png') }}">
        </span>
    </div>
    <div class="header-logo">
        <a class="navbar-brand" href="{{ url_for('home.home') }}">
            <img src="{{ url_for('static', filename='img/header/logo.png') }}" alt="">
        </a>
    </div>
    <div class="header-search">
        <label>
            <input class="input-search" type="text" data-search>
            <img class="input-img" src="{{ url_for('static', filename='img/header/search.png') }}" alt="">
        </label>
    </div>
</nav>