$background-color: #D9D9D9;
$color-blue: hsla(209, 100%, 50%, 80%);
$color-grey: #F2F2F2;
$color-green: #009660;
$color-green-opacity: hsla(158, 100%, 29%, 80%);
$color-red: hsla(0, 82%, 38%, 80%);
$font-josefin: 'JosefinSans', sans serif;
$font-K2D: 'K2D', sans serif;